@import 'reset';
@import 'defaults';
@import 'helper';

@import 'hamburger';

.content {
  margin: 0 auto;
  overflow: hidden;
}

.headerContainer {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

* {
  box-sizing: border-box;
}

.section {
  &__content {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 20px;

    @media only screen and (min-width: 768px) {
      padding: 50px 0;
      display: flex;
      align-items: center;
      min-height: 100vh;
      text-align: left;
    }
  }

  a:not(.no-style) {
    text-decoration: none;
    padding: 2px 5px;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.8;
    }
  }

  &--light {
    background: $background;
    color: $colorLight;
    a:not(.no-style) {
      color: $colorInverse;
      background: $backgroundDark;
    }
  }

  &--dark {
    background: $backgroundDark;
    color: $colorInverse;

    a:not(.no-style) {
      color: $colorDark;
      background: $background;
    }
  }
}

.image {
  display: none;

  @media only screen and (min-width: 768px) {
    display: block;
  }

  position: absolute;
  left: 460px;
  bottom: 0;
  height: 100%;
  opacity: 0.35;
  max-height: 800px;

  img {
    height: 100%;
  }
}

.intro {
  @media only screen and (min-width: 768px) {
    width: 150px;
  }

  text-align: center;

  &__description {
    @media only screen and (min-width: 768px) {
      transform: rotate(-90deg);
    }
    text-transform: uppercase;
    position: relative;
    display: block;
    letter-spacing: 5px;
  }
}

.entry {
  @media only screen and (min-width: 768px) {
    max-width: 600px;
  }
  &__headline {
    strong {
      white-space: nowrap;
    }
    .section--light & {
      color: $colorDark;
    }
  }

  &__subline {
    color: $colorLight;
  }
}

.contentBox {
  @media only screen and (min-width: 768px) {
    width: 50%;
    padding: 20px;
  }
}

.contactCard {
  ul {
    li {
      margin: 10px 0;

      .intro {
        display: inline-block;
        width: 100px;
        color: $colorLight;
      }
    }
  }
}

.datenschutz,
.haftung {
  margin: 10px 0;
}
.toggle {
  .is-open + & {
    display: block;
  }
  display: none;
}

header {
  position: fixed;
  top: 0;
  box-shadow: 0 -1px 5px $secondary;
  width: 100%;
  background: $backgroundDark;
  z-index: 5;

  height: 40px;
}

.icons {
  header & {
    right: 80px;
    position: absolute;
    top: 10px;
  }

  .icon {
    header & {
      margin-right: 10px;
    }
    margin-right: 20px;
    color: $colorInverse;
  }
}

.hamburger {
  right: 20px;
  color: $colorInverse;
  background-color: transparent;
  transition: background-color 0.3s;

  &.is-active {
    background: $secondary;
  }
}

.menu {
  right: 20px;
  display: none;
  background: $secondary;
  color: $color;
  top: 35px;
  position: absolute;

  &.is-open {
    display: inline-block;
  }

  ul li {
    a {
      padding: 10px 15px;

      display: block;
      text-decoration: none;
      color: $colorDark;
      letter-spacing: 5px;

      &:hover {
        background: $backgroundDark;
        color: $colorInverse;
      }
    }
  }
}

.skills {
  display: block;
  @include clearfix();
  margin: 0 auto;
  max-width: 320px;

  @media only screen and (min-width: 768px) {
    max-width: 360px;
  }

  .progressRing {
    float: left;
    margin: 20px;
    text-align: center;
    position: relative;

    .progressRing__percentage {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }

    circle {
      stroke: orange;
      fill: transparent;
    }
  }
}
